.container {
  position: fixed;
  inset-block-start: 4rem;
  inset-inline-end: 1rem;
  z-index: 10000;
  width: min(24rem, calc(100vw - 2rem));
}

.critical {
  filter: drop-shadow(0 0.25rem 0.5rem rgb(218 30 40 / 25%));
}

.important {
  filter: drop-shadow(0 0.25rem 0.5rem rgb(241 194 27 / 25%));
}
